/* "KSA" font */
@font-face {
  font-family: 'ksa';
  font-weight: 400;
  src: url('/fonts/KSA-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ksa';
  font-weight: 500;
  src: url('/fonts/KSA-500.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ksa';
  font-weight: 600;
  src: url('/fonts/KSA-600.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ksa';
  font-weight: 800;
  src: url('/fonts/KSA-800.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ksa';
  font-weight: 900;
  src: url('/fonts/KSA-900.woff2') format('woff2');
  font-display: swap;
}
